<div class="signin-page-wrapper">




  <div class="login-form-container">

    <div class="login-message-container">

      <svg width="149" height="32" viewBox="0 0 149 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="login-logo">
        <path d="M147.8 10.6364V14.0455H137.946V10.6364H147.8ZM140.183 6.71591H144.722V21.9716C144.722 22.3906 144.786 22.7173 144.913 22.9517C145.041 23.179 145.219 23.3388 145.446 23.4311C145.68 23.5234 145.95 23.5696 146.256 23.5696C146.469 23.5696 146.682 23.5518 146.895 23.5163C147.108 23.4737 147.271 23.4418 147.385 23.4205L148.099 26.7976C147.871 26.8686 147.552 26.9503 147.14 27.0426C146.728 27.142 146.227 27.2024 145.638 27.2237C144.544 27.2663 143.585 27.1207 142.761 26.7869C141.945 26.4531 141.309 25.9347 140.854 25.2315C140.4 24.5284 140.176 23.6406 140.183 22.5682V6.71591Z" fill="black"/>
        <path d="M128.991 27.3196C127.337 27.3196 125.906 26.9681 124.698 26.2649C123.498 25.5547 122.571 24.5675 121.918 23.3033C121.264 22.032 120.938 20.5583 120.938 18.8821C120.938 17.1918 121.264 15.7145 121.918 14.4503C122.571 13.179 123.498 12.1918 124.698 11.4886C125.906 10.7784 127.337 10.4233 128.991 10.4233C130.646 10.4233 132.074 10.7784 133.274 11.4886C134.482 12.1918 135.412 13.179 136.065 14.4503C136.719 15.7145 137.045 17.1918 137.045 18.8821C137.045 20.5583 136.719 22.032 136.065 23.3033C135.412 24.5675 134.482 25.5547 133.274 26.2649C132.074 26.9681 130.646 27.3196 128.991 27.3196ZM129.013 23.804C129.766 23.804 130.394 23.5909 130.898 23.1648C131.403 22.7315 131.783 22.1421 132.038 21.3963C132.301 20.6506 132.433 19.8019 132.433 18.8502C132.433 17.8985 132.301 17.0497 132.038 16.304C131.783 15.5583 131.403 14.9688 130.898 14.5355C130.394 14.1023 129.766 13.8857 129.013 13.8857C128.253 13.8857 127.614 14.1023 127.095 14.5355C126.584 14.9688 126.197 15.5583 125.934 16.304C125.678 17.0497 125.55 17.8985 125.55 18.8502C125.55 19.8019 125.678 20.6506 125.934 21.3963C126.197 22.1421 126.584 22.7315 127.095 23.1648C127.614 23.5909 128.253 23.804 129.013 23.804Z" fill="black"/>
        <path d="M108.374 17.5398V27H103.836V10.6364H108.161V13.5235H108.353C108.715 12.5717 109.322 11.8189 110.175 11.2649C111.027 10.7038 112.06 10.4233 113.275 10.4233C114.411 10.4233 115.402 10.6719 116.247 11.169C117.092 11.6662 117.749 12.3764 118.218 13.2997C118.687 14.2159 118.921 15.3097 118.921 16.581V27H114.383V17.3906C114.39 16.3892 114.134 15.608 113.616 15.0469C113.097 14.4787 112.384 14.1946 111.474 14.1946C110.864 14.1946 110.324 14.326 109.855 14.5888C109.393 14.8516 109.031 15.2351 108.768 15.7394C108.513 16.2365 108.381 16.8367 108.374 17.5398Z" fill="black"/>
        <path d="M92.4607 27V10.6364H96.8605V13.4915H97.031C97.3293 12.4759 97.83 11.7088 98.5331 11.1904C99.2363 10.6648 100.046 10.402 100.962 10.402C101.189 10.402 101.434 10.4162 101.697 10.4446C101.96 10.473 102.191 10.5121 102.39 10.5618V14.5888C102.177 14.5249 101.882 14.4681 101.505 14.4183C101.129 14.3686 100.785 14.3438 100.472 14.3438C99.8044 14.3438 99.2078 14.4894 98.6823 14.7806C98.1638 15.0647 97.7519 15.4624 97.4465 15.9737C97.1482 16.4851 96.999 17.0746 96.999 17.7422V27H92.4607Z" fill="black"/>
        <path d="M82.8884 27.3196C81.2052 27.3196 79.7563 26.9787 78.5418 26.2969C77.3344 25.608 76.404 24.635 75.7506 23.3779C75.0972 22.1136 74.7705 20.6186 74.7705 18.8928C74.7705 17.2095 75.0972 15.7323 75.7506 14.461C76.404 13.1896 77.3238 12.1989 78.5099 11.4886C79.703 10.7784 81.1022 10.4233 82.7073 10.4233C83.7868 10.4233 84.7918 10.5973 85.7222 10.9453C86.6597 11.2862 87.4765 11.8011 88.1725 12.4901C88.8756 13.179 89.4225 14.0455 89.8131 15.0895C90.2037 16.1264 90.3991 17.3409 90.3991 18.733V19.9794H76.5816V17.1669H86.127C86.127 16.5135 85.985 15.9347 85.7009 15.4304C85.4168 14.9261 85.0226 14.532 84.5184 14.2479C84.0212 13.9567 83.4424 13.8111 82.7819 13.8111C82.093 13.8111 81.4822 13.9709 80.9495 14.2905C80.4239 14.603 80.012 15.0256 79.7137 15.5583C79.4154 16.0838 79.2627 16.6698 79.2556 17.3161V19.9901C79.2556 20.7997 79.4047 21.4993 79.703 22.0888C80.0084 22.6783 80.4381 23.1328 80.9921 23.4524C81.5461 23.772 82.203 23.9318 82.963 23.9318C83.4672 23.9318 83.9289 23.8608 84.3479 23.7188C84.767 23.5767 85.1256 23.3637 85.4239 23.0796C85.7222 22.7955 85.9495 22.4475 86.1057 22.0355L90.3032 22.3125C90.0901 23.321 89.6533 24.2017 88.9928 24.9546C88.3394 25.7003 87.4942 26.2827 86.4573 26.7017C85.4275 27.1136 84.2378 27.3196 82.8884 27.3196Z" fill="black"/>
        <path d="M74.5359 10.6364L68.815 27H63.7013L57.9805 10.6364H62.7745L66.1729 22.3445H66.3434L69.7312 10.6364H74.5359Z" fill="black"/>
        <path d="M41.8962 27V5.18182H56.5979V8.98509H46.5092V14.184H55.8416V17.9872H46.5092V23.1967H56.6406V27H41.8962Z" fill="black"/>
        <path d="M21.3314 10.6667V0H-0.00195312V10.6667H21.3314Z" fill="#155EEF"/>
        <path d="M21.3308 21.3332C15.4398 21.3332 10.6642 26.1089 10.6642 31.9999L-0.000732422 32.0003L-0.000732418 31.725C0.145861 20.1153 9.56633 10.7403 21.1936 10.667L31.9979 10.6675V32.0008H21.3313L21.3308 21.3332Z" fill="#155EEF"/>
      </svg>


      <h1 class="login-title">Log in to your account</h1>
      <p class="login-subtitle">Welcome back! Please enter your details.</p>
    </div>



  <%= form_with url: session_path, class: "login-form" do |form| %>
    <div class="text-field">
      <%= form.label :email_address, "Email Address", class: "text-field__label" %>
      <%= form.email_field :email_address, 
          required: true, 
          autofocus: true, 
          autocomplete: "username", 
          placeholder: "Enter your email address", 
          value: params[:email_address],
          class: "text-field__input" %>
    </div>

    <div class="text-field">
      <%= form.label :password, "Password", class: "text-field__label" %>
      <%= form.password_field :password, 
          required: true, 
          autocomplete: "current-password", 
          placeholder: "Enter your password", 
          class: "text-field__input" %>
    </div>
      <div class="login-form__forgot-password">
      <%= link_to "Forgot password?", new_password_path %>
    </div>

    <div class="form-actions">
      <%= form.submit "Sign in", class: "button button--full-width" %>
    </div>
  <% end %>



    <div class="login-form__validation">
      <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
      <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>
    </div>


  </div>


</div>

